.main {
  width: 100px;
  height: 100px;
  padding: 1rem;
  display: flex;
}

.backgroundGrid {
  display: grid;
  width: 100%;
  height: 100%;
}

.time {
  margin-top: 20px;
  height: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  &:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.hourMark {
  height: 20px;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.quarterMark {
  height: 8px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.halfMark {
  height: 12px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.lesson {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
}

.durationInput {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  /* background: linear-gradient(to right, red, yellow, green); */
}

.durationInput::-webkit-slider-runnable-track {
  height: 100%;
}

.durationInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: inherit;
  background-color: #e2e8f0;
  height: 100%;
  width: 1px;
}
